{{ define "yield" }}
    <div class="text-center">
        Para entrar e contato, por favor envie email para
        <a href="mailto:suporte@companny.com">
            suporte@companny.com
        </a>
    </div>
{{ end }}